* {
    margin: 0;
    padding: 0;

}

body {
    --primary-color: hsl(0, 0%, 10%);
    --secondary-color: white;
    background-color: var(--primary-color);
    font-family: Cinzel;
    transition: 1s;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row ;
    background-color: red;
}
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: hsl(227, 72%, 76%);
    font-size: 50px;
    transition: 1s;
    gap: 20%;
    text-align: center;
}
.section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: hsl(35, 96%, 29%);
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    flex-direction: column;
    transition: 1s;
    gap: 20%;
}
p {
    transition: 1s;
}

/* Hover effects */

.section-1 p:hover, .section-2 p:hover  {
    color: blue;
    cursor: pointer;
    transition: 1s;
   
}

.description1, .description2 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 15px;
    padding: 0px 50px;
}

.section-1:hover {
    background-color: hsl(227, 72%, 6%);
    transition: 1s;

   
}

.section-2:hover {
    background-color: hsl(35, 96%, 6%);
    transition: 1s;
 
   
}